<br>
<br>
<br>
<br>
<div class = 'space'>
<%= form_for @available_meal, url: user_available_meals_path do |f| %>
	<ul>
		<% if @available_meal.errors.any? %>
			<%= @available_meal.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		<% end %>
	</ul>

<p>Recipes Available</p>
		<%= f.collection_check_boxes :recipe_id, Recipe.all, :id, :name do |b| %> 
			<%= b.label(class: "check_box") do %>
			  <%= b.check_box(class: "check_box") %>
			  <%= b.object.name %></br>
			<% end %>
		  <% end %> 
<br> 
<br>
	<%= f.submit "Save my Meals" %>
<% end %>
</div>

