<br>
<br>
<br>
<br>
<div class = 'space'>
<%= form_for @available_meal, url: user_available_meals_path do |f| %>
	<ul>
		<% if @available_meal.errors.any? %>
			<%= @available_meal.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		<% end %>
	</ul>

	<p><%= f.label :user_id, session[:username] %>'s Available Meals </p><br>

<p>Recipes Available</p>
		<%= f.collection_check_boxes :recipe_id, Recipe.all, :id, :name %>
<br> 
<br>
	<%= f.submit "Save my Meals" %>
<% end %>
</div>

