<p>Tracked Meals</p>

<p><%= link_to "Add Recipes to my Account", new_user_available_meal_path %> </p>


<%= form_tag new_user_tracked_meal_path, method: "post" do %>
  Starting Date: <%=datetime_field_tag :start_time %><br><br>
<%= submit_tag "Generate Meals" %><br><br>
 <% end %>


<%= month_calendar events: @tracked_meals do |date, tracked_meals| %>
    <%= date %>
  
    <% tracked_meals.each do |tracked_meals| %>
      <div>
        <%= tracked_meals.available_meal.recipe.name %>
      </div>
    <% end %>
  <% end %>