
<br>
<br>
<br>
<br>

<div class='zone2'>

<%= form_tag user_tracked_meals_path, method: "POST" do %>
 <p class='label1'> Choose a date to generate meals for the week:</p> <%=date_field_tag :'tracked_meal[start_time]' %><br><br>
<%= submit_tag "Generate Meals" %><br><br>
 <% end %>

 </div>




 <div class='zone3'>

 <%= form_tag user_tracked_meals_path, method: "GET" do %>
  <p class='label1'>Choose a date to see calories and a grocery list:<p> <%=date_field_tag :'tracked_meal[start_time]' %><br><br>
<%= submit_tag "Update Stats Date" %><br><br>
<% end %>

</div>



<div class='zone4'>

<p class='label'> Calories for the week of <%= @date %>: <%= TrackedMeal.calories(@date) %></p>


Ingredients for the week of <%= @date %>:
<ul> 
<% TrackedMeal.buildgrocerylist(@date).each do |item| %>
  <li> <%= item %> </li>
<% end %>
</ul>
</div>





<div class='zone5'>

<%= month_calendar events: @tracked_meals do |date, tracked_meals| %>

  <%= date %>

    <% tracked_meals.each do |tracked_meal| %>
      <div>
        <% begin %>
        <%= link_to tracked_meal.available_meal.recipe.name, recipe_path(tracked_meal.available_meal.recipe) %> <%= link_to "Edit", edit_user_tracked_meal_path(user_id: @current_user, id: tracked_meal.id) %>
        <%= link_to "Delete", user_tracked_meal_path(user_id: @current_user, id: tracked_meal.id), method: :delete, data: { confirm: "Really?" } %>
        <% rescue %>
        <% end %>
      </div>
    <% end %>
  <% end %>

  </div>
