<p>Tracked Meals</p>

<p><%= link_to "Add Recipes to my Account", new_user_available_meal_path %> </p>


<%= form_for @tracked_meal do |f| %>
  Starting Date: <%=f.datetime_field :start_time %><br><br>
<%= f.submit "Generate Meals" %><br><br>
 <% end %>


<%= month_calendar events: @tracked_meals do |date, tracked_meals| %>
    <%= date %>
  
    <% tracked_meals.each do |tracked_meals| %>
      <div>
        <%= tracked_meals.available_meal.recipe.name %>
      </div>
    <% end %>
  <% end %>