<p>Recipe<p>

<ul>
    <li>Recipe: <%=@recipe.name%></li>
    <li>Cuisine: <%=@recipe.cuisine%></li>
    <li>Meal Type: <%=@recipe.meal_type%></li>
    <li>Health Rating: <%=@recipe.health_rating%></li>
    <li>Instructions: <%=@recipe.instructions%></li>
</ul>
